.projects-container {
  color: $darkFontColor;
  padding-top: 10vh;
  padding-left: 20px;
  padding-right: 20px;

  &:hover .projectItem-container {
    transform: translateX(-40px);
  }

  @include forTablet {
    padding-top: 10vh;
  }

  @include forPc {
    padding-left: 18%;
    padding-right: 5%;
  }

  & .projects-title {
    position: relative;
    font-size: 20px;
    font-family: $menuFont;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    bottom: 10vh;
    word-spacing: 10px;
    letter-spacing: 2px;
    margin-top: 60px;

    @include forTablet {
      font-size: 24px;
      padding-right: 0px;
      padding-left: 0px;
      bottom: 10vh;
      margin-top: 100px;
    }

    @include forPc {
      font-size: 26px;
      padding-right: 0px;
      padding-left: 0px;

      margin-top: 100px;
    }
  }

  .projectItem-container {
    font-family: $menuFont;
    font-size: 14px;
    transition: transform 0.5s linear;

    @include forTablet {
      font-size: 16px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @include forPc {
      font-size: 20px;
      padding-top: 100px;
    }

    & .projectItem-image {
      & img {
        width: 300px;

        @include forTablet {
          width: 700px;
        }

        @include forPc {
          width: 1000px;
        }
      }
    }

    & .projectItem-details {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-top: 50px;

      @include forTablet {
        padding-top: 60px;
      }

      @include forPc {
        padding-top: 100px;
        width: 30%;
      }

      & h4 {
        font-size: 16px;
        margin-bottom: 20px;
        font-family: $mainFont;
        letter-spacing: 2px;

        @include forTablet {
          font-size: 20px;
          margin-bottom: 20px;
        }

        @include forPc {
          font-size: 28px;
          margin-bottom: 30px;
        }
      }

      & p {
        font-size: 14px;
        margin-bottom: 20px;
        text-align: justify;
        font-family: $mainFont;
        letter-spacing: 2px;

        @include forTablet {
          font-size: 18px;
          margin-bottom: 20px;
        }

        @include forPc {
          font-size: 22px;
          margin-bottom: 30px;
          padding-right: 5%;
        }
      }

      .projectItem-tags {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        @include forTablet {
          margin-bottom: 20px;
        }

        @include forPc {
          margin-bottom: 30px;
        }

        & li {
          white-space: nowrap;
          height: 30px;
          font-family: $mainFont;
          background-color: #626262;
          color: white;
          border: solid 1px white;
          border-radius: 2px;
          margin: 5px;
          line-height: 30px;
          display: inline-block;
          padding-left: 15px;
          padding-right: 10px;
          font-weight: 500;
          text-align: right;
          font-size: 12px;

          @include forTablet {
            font-size: 16px;
            height: 40px;
            line-height: 40px;
          }

          @include forPc {
            font-size: 18px;
            height: 40px;
            line-height: 40px;
          }

          & span {
            background-color: #ffff;
            border: 1px solid #ffff;
            border-radius: 5px 5px 5px 5px;
            display: inline-block;
            height: 7px;
            left: -5px;
            position: relative;
            top: -1px;
            vertical-align: middle;
            width: 7px;
            z-index: 10;
            margin-right: 5px;
          }
        }
      }

      & .projectItem-links {
        display: flex;
        justify-content: space-around;
        font-family: $mainFont;
        font-size: 14px;

        @include forTablet {
          font-size: 16px;
        }

        @include forPc {
          font-size: 20px;
        }

        & .button-link {
          background-color: $darkFontColor;
          text-align: center;
          display: inline-block;
          position: relative;
          text-decoration: none;
          color: #fff;
          text-transform: capitalize;
          padding: 10px 0px;
          width: 100px;
          border-radius: 3px;
          overflow: hidden;
          transition: all 0.2s linear 0s;
          box-shadow: 0 0 5px 0 #1e1f22;
          border: 1px solid;

          @include forTablet {
            width: 150px;
            padding: 20px 0px;
          }

          @include forPc {
            width: 150px;
            padding: 20px 0px;
          }

          &:before {
            content: '🔗';
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            right: -50px;
            width: 50px;
            height: 100%;
            background-color: #fff;
            transition: all 0.2s linear 0s;
            text-align: center;
          }

          &:hover {
            text-indent: -50px;

            &:before {
              right: 0;
              text-indent: 0px;
            }
          }
        }
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
  background-color: $thirdBgColor;

  @include forTablet {
  }

  @include forPc {
    display: flex;
    flex-direction: row;
  }
}

.row-reverse {
  display: flex;
  flex-direction: column;
  background-color: $firstBgColor;
  color: $ligthFontColor;

  @include forTablet {
  }

  @include forPc {
    display: flex;
    flex-direction: row-reverse;
  }
}
