.projects-container {
  background-color: $thirdBgColor;
  color: $darkFontColor;
  height: 100vh;
  font-family: $mainFont;
  padding-left: 20px;
  padding-right: 20px;

  @include forTablet {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include forPc {
    padding-left: 12%;
    padding-right: 8%;
  }

  & h2 {
    padding-top: 80px;
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    word-spacing: 10px;
    letter-spacing: 2px;

    @include forTablet {
      padding-top: 100px;
      font-size: 24px;
    }

    @include forPc {
      padding-top: 100px;
      font-size: 26px;
    }
  }

  .projectItem-container {
    font-family: $mainFont;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 80px;


    @include forTablet {
      font-size: 16px;
    }

    @include forPc {
      display: flex;
      flex-direction: row;
      font-size: 20px;
    }

    & .projectItem-image {
      & img {
        width: 300px;

        @include forTablet {
          width: 800px;
        }

        @include forPc {
          width: 1000px;
        }
      }
    }

    & .projectItem-details {
      display: flex;
      flex-direction: column;
      text-align: left;


      @include forTablet{
        padding-top:100px;
      }

      @include forPc{
        padding-top:100px;
  
      }

      & h4 {
        font-size: 18px;
        margin-bottom: 20px;

        @include forTablet {
          font-size: 20px;
          margin-bottom: 20px;
        }

        @include forPc {
          font-size: 22px;
          margin-bottom: 30px;
        }
      }

      & p {
        font-size: 16px;
        margin-bottom: 20px;
        text-align: justify;

        @include forTablet {
          font-size: 18px;
          margin-bottom: 20px;
        }

        @include forPc {
          font-size: 20px;
          margin-bottom: 30px;
        }
      }

      .projectItem-tags {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        @include forTablet {
          margin-bottom: 20px;
        }

        @include forPc {
          margin-bottom: 30px;
        }

        & li {
          white-space: nowrap;
          height: 40px;
          background-color:$darkFontColor;
          color: white;
          border: solid 1px white;
          border-radius: 5px;
          margin: 0px;
          line-height: 40px;
          display: inline-block;
          padding-left: 15px;
          padding-right: 10px;
          font-weight: 600;
          text-align: right;
          font-size: 14px;

          @include forTablet {
            font-size: 16px;
          }

          @include forPc {
            font-size: 18px;
          }

          & span {
            background-color: #dfcd79;
            border: 1px solid #ffff;
            border-radius: 5px 5px 5px 5px;
            display: inline-block;
            height: 7px;
            left: -5px;
            position: relative;
            top: -1px;
            vertical-align: middle;
            width: 7px;
            z-index: 10;
            margin-right: 5px;
          }
        }
      }

      & .projectItem-links {
        display: flex;
        justify-content: space-around;


        & a {
          text-decoration: none;
          font-size: 14px;
          font-family: $mainFont;
          color:$darkFontColor;
          background-color: #BDCFB8;
          border: 1px solid $darkFontColor;
          width: 150px;
          height: 50px;
          text-align: center;
          padding-top:10px;
          border-radius:5px;
         

          @include forTablet {
            font-size: 20px;
          }

          @include forPc {
            font-size: 22px;
          }
        }
      }
    }
  }
}
