//COLORS

$menuBgColor: #29292C;

$firstBgColor: #29292C;
$secondBgColor: #CE757B;
$thirdBgColor: #DFCD79;
$fourthBgColor: #E7E4D0;
 
$ligthFontColor:$fourthBgColor;
$darkFontColor: $firstBgColor;





//TYPOGRAPHY

