//COLORS

$menuBgColor: #29292c;

$firstBgColor: #29292c;
$secondBgColor: #ce757b;
$thirdBgColor: #dfcd79;
$fourthBgColor: #e7e4d0;

$ligthFontColor: $fourthBgColor;
$darkFontColor: $firstBgColor;

//TYPOGRAPHY

$mainFont: droid;
$typewriterFont: droid;

@font-face {
  src: url(../../assets/fonts/Anonymous_Pro.ttf);
  font-family: anonymous;
}

@font-face {
  src: url(../../assets/fonts/MonospaceTypewriter.ttf);
  font-family: monospaceTypewriter;
}

@font-face {
  src: url(../../assets/fonts/VeraMono.ttf);
  font-family: veraMono;
}

@font-face {
  src: url(../../assets/fonts/DroidSansMono.ttf);
  font-family: droid;
}

@font-face {
    src: url(../../assets/fonts/Envy_Code_R.ttf);
    font-family: envycode;
  }

