.about-container {
  background-color: $secondBgColor;
  color: $darkFontColor;
  height: 100vh;
  font-family: $mainFont;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 10%;

  & .about-container_text {
    margin-top: 100px;
    word-spacing: 10px;
    letter-spacing: 2px;

    & h2 {
      font-size: 26px;
      text-align: right;
    }

    & p {
      margin-top: 20px;
      text-indent: 100px;
      text-align: justify;
      line-height: 30px;
    }
  }

  .about-container_skills {
    word-spacing: 10px;
    letter-spacing: 2px;

    & h2 {
      font-size: 26px;
      text-align: right;
      margin-top: 80px;
    }


  }
}
