.menu-container {
  background-color: $firstBgColor;
  color: $ligthFontColor;
  position: fixed;
  width: 100%;

  @include forTablet {
  }

  @include forPc {
    width: 120px;
    height: 100vh;
    text-align: right;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & .menu-container_list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;

    @include forTablet {

        
    }

    @include forPc {
      flex-direction: column;
      border-right: solid 1px $ligthFontColor;
      padding-right: 10px;
    }
  }
}
